<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title|default('Glowing Reader')}}</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/flat-ui.css">
    <script src="/static/js/jquery-2.0.3.min.js"></script>
    <script src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-select.js"></script>
    <script src="/static/js/bootstrap-switch.js"></script>
    <script src="/static/js/flatui-checkbox.js"></script>
    <script src="/static/js/flatui-radio.js"></script>
    <script src="/static/js/jquery.tagsinput.js"></script>
    <script src="/static/js/jquery.placeholder.js"></script>
    <script src="/static/js/application.js"></script>
</head>
<body>
    {% block main %}
        
    {% endblock %}
</body>
</html>
