*.mo
parts
*.sublime-project
*.sublime-workspace
.tox
.coverage
.project
*.egg-info
dist
nosetests.xml
eggs
.mr.developer.cfg
sdist
.installed.cfg
var
/__pycache__
lib64
# C extensions
.pydevproject
*.egg
# Mr Developer
# Unit test / coverage reports
*.so
*.py[cod]
pip-log.txt
# Packages
develop-eggs
build
bin
lib
# Translations
# Installer logs